@font-face{
    font-family: 'Lobster-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Lobster-Regular'),
            url('../fonts/Lobster-Regular.woff2') format('woff2'),
            url('../fonts/Lobster-Regular.woff') format('woff');      
    font-display: swap;
}

@font-face{
    font-family: 'Rubik-MediumItalic';
    font-weight: 500;
    font-style: normal;
    src: local('Rubik-MediumItalic'),
            url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
            url('../fonts/Rubik-MediumItalic.woff') format('woff');      
    font-display: swap;
}