$gray:#48494b;
$grayl:#c4c4c4;
$puple:#40219a;
$blue:#33478f;
$bluel:#51c1e4;

%lobster{
    font-family: 'Lobster-Regular', sans-serif;
    font-weight: 400;
}

%rubic{
    font-family: 'Rubik-MediumItalic', sans-serif;
    font-weight: 500;
}