@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    padding-top: 10px;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.search{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    &__input,
    &__btn{
        border: 1px solid $gray;
        background-color: #c4c4c446;
        outline: none;
    }
    &__input{
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-right: 0;
        width: 100%;
        padding: 0 15px;  
    }
    &__btn{
        cursor: pointer;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-left: 0;
        padding-right: 13px;
        width: 50px; 
    }
    &__icon{
        display: block;
        width: 30px;
        height: 30px;
        path{
            fill:$gray;
        }
    }
    &__input:focus {
        background-color: #fff;
    }
    &__input:focus + .search__btn{
        background-color:$puple;
        path{
          fill:#fff;
        }
    }
}
.user-nav{
    width: 330px;
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover{
            
            .user-nav__text{
                color: $puple;
            }
            path{
                fill: $bluel;
            }
        }
    }
    &__icon{
        path{
            transition: fill .4s ease;
        }
    }
    &__text{
        transition: all .4s ease;
        color: $gray;
    }
}
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hiden;
    transition: .64s ease-in-out;
    &__inner {
      background-image: url('../images/bg-popup.jpg');
      position: relative;
      bottom: -100vw;
      right: -100vh;
      display: flex;
      align-items: center;
      max-width: 800px;
      max-height: 600px;
      width: 60%;
      height: 80%;
      background-color: #fff;
      transform: rotate(32deg);
      transition: .64s ease-in-out;
    }
    
    &:target {
      visibility: visible;
      opacity: 1;
      .popup__inner {
        bottom: 0;
        right: 0;
        transform: rotate(0);
      }
    }
    &__close {
      position: absolute;
      right: -1rem;
      top: -1rem;
      width: 3rem;
      height: 3rem;
      font-size: .875rem;
      font-weight: 300;
      border-radius: 100%;
      background-color: #0A0A0A;
      z-index: 4;
      color: #fff;
      line-height: 3rem;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
}
.header__bot{
    border: 3px solid $gray;
    border-left: none;
    border-right: none;
    padding: 5px 0;
}
.menu{
    &__list{
        display: flex;
        justify-content: space-around;
       
        
    }
    &__link{
        @extend %lobster;
        font-size: 32px;
        color: $gray;
        padding: 5px 15px;
        transition: all .4s ease;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        &:hover{
            color: $bluel;
            border-color: $bluel;
        }
    }

}




@import 'media';